{% extends "base" %}
{% block content %}
<form action="/upload" method="POST" enctype="multipart/form-data">
    <table class="login-form">
    <tr>
        <td> <label for="file">Plik:</label>
        <td> <input name="file" type="file">
    <tr>
        <td colspan="2">
            <input type="submit" value="Wrzuć plik">
    </table>
</form>
{% if page %}
<h2>Dostępne pliki</h2>
<ul>
{% for file in page %}
<li> {{file}}
{% endfor %}
</ul>
{% endif %}
{% endblock content %}
